<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron p-2">
    <div class="container">
      <h1 class="text-center">
          <a href="/nav"><i class="fa fa-clipboard" aria-hidden="true"></i>
        MDFP
          </a>
        <a *ngIf="this.router.url !== '/' " href="/" class="float-right h5">Logout</a>
        <fa name="cog" animation="spin"></fa>
        <fa name="cog" animation="spin"></fa>
        <fa name="cog" animation="spin"></fa>
      </h1>
    </div>
  </div>
  