<div class="w-100 text-center">
    <ngb-tabset>
        <ngb-tab title="Machine">
            <ng-template ngbTabContent>
                <div class="mt-3">
                    <app-machine></app-machine>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Operation">
            <ng-template ngbTabContent>
                <div class="mt-3">
                    <app-operation></app-operation>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Production Line">
            <ng-template ngbTabContent>
                <div class="mt-3">
                    <app-productline></app-productline>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Type of Machine">
            <ng-template ngbTabContent>
                <div class="mt-3">
                    <app-typemachine></app-typemachine>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div> 
