<div>
    <div class="modal-header">
      <h4 class="modal-title">New Order</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="mt-3">
            <form #neword="ngForm" class="mt-3 text-center" id="form" (ngSubmit)="onSubmit(neword)">
                <div class="text-center">
                  <div class="form-group">
                    <label for="prod_edit">Product</label>
                      <select class="form-control" [(ngModel)]="product" value="{{this.selected}}" disabled>
                        <option *ngFor="let product of products" value="{{ this.product?.id }}" >{{ product?.name }}</option>
                      </select>
                  </div>  
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Quantity</label>
                        <input type="text" name="quantity" class="form-control text-center mt-2" [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                    <button type="submit" class="btn btn-success w-50 mt-2">Submit</button>
              </form>
        </div>
      </div>
</div>