<div class="container">
    <ngb-tabset>
      <ngb-tab title="View All">
          <ng-template ngbTabContent>
            <div class="mt-3">
                <table class="table table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Description</th>
                        <th scope="col">Operations</th>
                        <th scope="col">DateStart</th>  
                        <th scope="col">Production Time (Days)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr scope="row" id="table" *ngFor="let fabricplan of fabricplans let i = index">
                        <td (click)="open(content, fabricplan.id)">{{ i+1 }}</td>
                        <td (click)="open(content, fabricplan.id)">{{ fabricplan?.description }}</td>
                        <td>            
                          <span class="form-check" *ngFor="let operationId of fabricplan.operationsIds">
                            {{getOperationDescription(operationId)}}
                          </span>
                        </td>
                        <td (click)="open(content, fabricplan.id)">{{ fabricplan?.dateStart }}</td>
                        <td (click)="open(content, fabricplan.id)">{{ fabricplan?.duration }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </ng-template>
        </ngb-tab>  

        <ngb-tab title="New Fabric Plan">
          <ng-template ngbTabContent>
            <div class="mt-3">
              <div class="text-center">
                <form #f="ngForm" class="mt-3 text-center" id="myform" (ngSubmit)="onSubmit(f)">                  
                  <div class="text-center">
                      <div class="form-group">
                          <label for="name">Description</label>
                          <input type="text" name="desc" class="form-control text-center mt-2" [(ngModel)]="desc" [ngModelOptions]="{standalone: true}" required> 
                      </div>
                      <label for="exampleFormControlInput1">Operations</label>
                      <div class="form-check" *ngFor="let operation of operations">
                          <input class="form-check-input" (change)="addOperationsToList(operation.id, $event.target.checked)"name="{{ operation.description }}" type="checkbox" id="{{operation.id}}">
                          <label class="form-check-label" for="{{operation.description}}">
                              {{operation.description}}
                          </label>
                      </div>
                      <div class="form-group mt-3">
                          <label for="exampleFormControlInput1">Data</label>
                          <input type="datetime-local" name="datestart" class="form-control text-center mt-2" [(ngModel)]="datestart" [ngModelOptions]="{standalone: true}" required> 
                      </div>
                      <div class="form-group">
                    <label for="exampleFormControlInput1">Production Time (Days)</label>
                    <input type="number" name="duration" class="form-control text-center mt-2" [(ngModel)]="duration" [ngModelOptions]="{standalone: true}" required> 
                </div>        
                  </div>
                      <button type="submit" class="btn btn-success w-50 mt-2">Submit</button>
                </form>
            </div>
            </div>
          </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div> 

<!----------------- Edit -------------------->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Fabric Plan update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <form #edit="ngForm" class="mt-3 text-center" id="myform">
        <div class="form-group">
            <label for="name">Description</label>
            <input type="text" name="editdescription" value="{{fabricplan.description}}" class="form-control text-center mt-2" [(ngModel)]="fabricplan.description"> 
        </div>
        <div class="text-center">
            Operations selected<br>
            <div class="form-check" *ngFor="let operation of operations">
              {{editoperToView.includes(operation.id) ? operation.description : ''}}
            </div>
            <br>
            Select new operations
            <div class="form-check" *ngFor="let operation of operations">
                <input class="form-check-input" (change)="editOperationsToList(operation.id, $event.target.checked)" name="{{ operation.description }}" type="checkbox" id="{{operation.id}}">
                <label class="form-check-label" for="{{operation.description}}">
                    {{operation.description}}
                </label>
            </div>
          <div class="form-group mt-3">
              <label for="exampleFormControlInput1">Start Date</label>
              <input type="datetime" name="editdate" value="{{ fabricplan.dateStart }}" class="form-control text-center" [(ngModel)]="fabricplan.dateStart" readonly> 
          </div>
          <div class="form-group">
                <label for="exampleFormControlInput1">Production Time (Days)</label>
                <input type="number" name="duration" value="{{fabricplan?.duration}}" class="form-control text-center mt-2" [(ngModel)]="fabricplan.duration" required> 
            </div>           
        </div>
            <button type="submit" class="btn btn-success w-50 mt-2" (click)="putFabricPlan()">Submit</button>
      </form>
  </div>
  <div class="modal-footer text-center">
    <button type="button" class="btn btn-danger" (click)="modal.close('Save click'); delete(fabricplan?.id)">Delete</button>
  </div>
  </ng-template>